:host {
  * {
    margin: 0;
    padding: 0;
  }
  .card {
    cursor: pointer;
    transition: all 0.42s;
    &:hover {
      transform: scale(1.07);
    }
  }

  max-width: 20rem;
  min-width: 20rem;
  display: flex;

  flex-direction: column;
  padding: 1rem;

  .image {
    min-height: 20rem;
    max-height: 20rem;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    img {
      width: 20rem;
      height: 20rem;
    }

    i {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: white;
      text-shadow: 3px 3px 3px #2a8233;
      transition: all 0.42s;

      &:hover {
        text-shadow: 3px 3px 3px #45e655;
        transform: scale(1.2);
      }
    }
  }

  h2 {
    margin: 1rem 0.5rem;
  }
  p {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    &:last-child {
      font-size: 1.4rem;
      padding-top: 0.4rem;
    }
  }
}
