<div class="card">
  <div class="image">
    <p-galleria
      [value]="images"
      [showIndicators]="true"
      [showIndicatorsOnItem]="true"
      [showItemNavigators]="true"
      [showItemNavigatorsOnHover]="true"
      [circular]="true"
      [containerStyle]="{ width: '18rem', height: '20rem' }"
    >
      <ng-template
        pTemplate="item"
        let-item
        style="width: 100%; display: block;"
      >
        <img [src]="item" [routerLink]="['/details', datas.id]" />
      </ng-template>
    </p-galleria>
    <i class="pi pi-heart" style="font-size: 2rem"></i>
  </div>
  <div [routerLink]="['/details', datas.id]">
    <h2>{{ datas.ville }}, {{ datas.pays }}</h2>
    <p>{{ datas.particulier ? "Particulier" : "Professionnel" }}</p>
    <p>
      {{ getDates() }}
    </p>
    <p>
      <strong>{{ datas.prix }} €</strong> par nuit
    </p>
  </div>
</div>
