@import "primeicons/primeicons.css";
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/Noto_Sans/NotoSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

* {
  font-family: "Raleway";
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Noto Sans";
}
