<div id="filtre">
  <p-button
    (click)="filtersModalVisible = true"
    icon="pi pi-external-link"
    label="Filtre"
  ></p-button>
  <p-dialog
    header="Header"
    [(visible)]="filtersModalVisible"
    [style]="{ width: '90vw', height: '90vh' }"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [dismissableMask]="true"
    (onHide)="hideModalFilters()"
  >
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Filtrage des annonces</span>
    </ng-template>
    <form [formGroup]="formFilter" (ngSubmit)="submit()">
      <!-- Trier -->
      <div class="input-group">
        <h3>Trier par</h3>
        <p-dropdown
          [options]="cardSort | enumToArray : true"
          [(ngModel)]="selectedOrder"
          formControlName="selectedOrder"
        ></p-dropdown>
      </div>
      <!-- Prix -->
      <div class="input-group">
        <h3>Prix</h3>
        <p>
          Entre <strong>{{ rangePrices[0] }}€</strong> et
          <strong>{{ rangePrices[1] }}€</strong>
        </p>
        <p-slider
          [(ngModel)]="rangePrices"
          class="w-full"
          [range]="true"
          formControlName="rangePrices"
          [min]="0"
          [max]="maxRangePrice"
          [style]="{ 'max-width': '400px', margin: '0px auto' }"
        ></p-slider>
      </div>
      <!-- Date -->
      <div class="input-group">
        <h3>Periode</h3>
        <p-calendar
          class="max-w-max"
          formControlName="dateRange"
          [(ngModel)]="dateRange"
          [inline]="true"
          selectionMode="range"
          [style]="{ width: '70vw' }"
          [minDate]="minDate"
          [numberOfMonths]="2"
          [firstDayOfWeek]="1"
        ></p-calendar>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-refresh"
        label="Reinitialiser"
        styleClass="p-button-warning p-button-text"
        (click)="reset()"
      ></p-button>
      <p-button
        icon="pi pi-check"
        (click)="submit()"
        label="Filtrer"
        styleClass="p-button-success p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>

<app-card *ngFor="let item of list" [datas]="item"></app-card>

<div id="paginator" class="card flex justify-content-center">
  <p-paginator
    (onPageChange)="changeItemPerPage($event)"
    [first]="page * rows"
    [rows]="rows"
    [totalRecords]="count"
    [rowsPerPageOptions]="itemsPerPages"
  ></p-paginator>
</div>
